.Task {
  min-width: 320px;
  background-color: var(--white);
  min-height: 40px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  border-radius: 4px;
  box-shadow: var(--box-shadow4dp);
  cursor: pointer;
}