.Button {
  font-size: 1.8rem;
  width: 120px;
  height: 42px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Save {
  background-color: var(--gray-900);
  color: var(--white);
}

.Delete {
  color: var(--gray-900);
  border: 1px solid var(--gray-900)
}