.Modal {
  width: 420px;
  top: 100px;
  display: grid;
  grid-template-rows: 32px 32px minmax(100px, max-content) 42px;
  max-height: 600px;
  border: 0;
  border-radius: 8px;
  box-shadow: var(--box-shadow8dp);
  padding: 24px;
  grid-gap: 25px;
  position: absolute;
}

.Modal::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
}

dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
}

.Heading, .Description {
  display: flex;
  align-items: center;
  grid-gap: 12px;
}

.Heading {
  font-size: var(--font-size2);
  margin: 0;
}

.Description {
  font-size: var(--font-size3);
  margin: 0;
}

.DescriptionText {
  padding: 8px;
  font-size: var(--font-size4);
  overflow: auto;
}

.Buttons {
  display: flex;
  justify-content: right;
  grid-gap: 12px;
}















/* 
dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
} */