:root {
  font-size: 10px;
  --white: #fff;
  --gray-50: #FAFAFA;
  --gray-100: #F5F5F5;
  --gray-200: #EEEEEE;
  --gray-300: #E0E0E0;
  --gray-400: #BDBDBD;
  --gray-500: #9E9E9E;
  --gray-600: #757575;
  --gray-700: #616161;
  --gray-800: #424242;
  --gray-900: #212121;
  --font-size1: 3.6rem;
  --font-size2: 2.4rem;
  --font-size3: 1.8rem;
  --font-size4: 1.4rem;
  --box-shadow4dp: 0 4px 5px 0 rgba(0, 0, 0, 0.12);
  --box-shadow8dp: 0 3px 14px 3px rgba(0, 0, 0, 0.24);
}

/* https://material.io/archive/guidelines/resources/shadows.html */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--gray-900, #212121);
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
