.Group {
  background-color: var(--gray-300);
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--box-shadow8dp);
}

.Heading {
  font-size: var(--font-size1);
  margin: 0;
}

.TaskList {
  padding: 0;
  display: grid;
  grid-gap: 12px;
}

.AddItem {
  font-size: var(--font-size3);
  text-align: center;
  cursor: pointer;
}